<!DOCTYPE html>
<html>

<head>
    <title>About</title>
    <link rel='icon' href='/img/weather.png'>
    <link rel='stylesheet' href='/css/styles.css'>
</head>

<body>
    <div class='main-content'>
        {{>header}}
        <img src='/img/me.png' class='portrait'>
        <p>Land Cloud tells the situation of the Sky Clouds. I has used MapBox and DarkSky to get this Informashm!</p>
    </div>
    {{>footer}}
</body>

</html>